.poppins {
  font-family: 'Poppins';
  color: white;
}

.page {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.content {
  display: flex;
  max-width: 720px;
  width: 720px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
